<div>
  <div>
    <h5>Learn a new lang is fun when you can pratice with help.</h5>
  </div>

  <div>
    <h4>Quelle est votre langue d'origine ?</h4>

    <ng-container [ngTemplateOutlet]="langlist" [ngTemplateOutletContext]="{indexName: 'selectedOriginIndex'}"></ng-container>
  </div>

  <div>
    <h4>Que voulez-vous apprendre ?</h4>

    <ng-container [ngTemplateOutlet]="langlist" [ngTemplateOutletContext]="{indexName: 'selectedLearningIndex'}"></ng-container>
  </div>


  <div>
    {{selectedLearningIndex + '-' + selectedOriginIndex}}
    <button (click)="confirm()" [disabled]="!isValid">Confirmer</button>

  </div>

</div>

<ng-template #langlist let-indexName="indexName">
  <div class="flex-row full even wrap">
    <app-lang-avatar *ngFor="let lang of langs; index as i" [lang]="lang" (click)="click(indexName, i)" [ngClass]="getClass(indexName,i)"></app-lang-avatar>
  </div>
</ng-template>
