/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: gray; }


.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.space {
  flex-grow: 4;
}

.even {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.selected {
  border: 1px red solid;

}
